body{min-width: 520px;}
.inline-block{display: inline-block; margin: auto; width: 90%;}
/*-----------------------*/
/*------- HEADER --------*/
/*-----------------------*/
.logotype {
    margin-top: 1px;
    width: 43px;
    height: 48px;
    background: url(../images/Logo.png);
    float: left;
}
.navbar-toggle{margin-top: -40px !important;}
.navbar-header{margin-left: 40px;}
.navbar-form{display: block;}
.collapse{margin-top: -20px;}
.title{width: 150px !important;}
.title-text{display: inline-block; margin-left: 10px; margin-top: -3px;}
.title h1 {
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0 !important;
    font-size: 14px;
    color: #989898;
}
.title h2 {font-size: 21px; font-weight: bold; color: #fff}
.title h3 {color: #989898;}
.title h2, header h3 {display: inline-block; vertical-align: baseline; margin-top: 8px;}
.navbar-form input[type=submit]{
    width: 16px;
    height: 20px;
    border: none;
    background: url(../images/header-sprite.png) -271px 0;
    position: relative;
    top: 5px;
    right: 27px;
}
.search{display: none !important;}
.navbar-form input[type=submit]:focus{outline: none;}
.navbar-form input[type=submit]:hover{background: url(../images/header-sprite.png) -271px -20px;}
.form-control{padding-right: 27px !important;}
.form-control:focus {border-color: #ff9000 !important; box-shadow: 0 0 7px #ff9000 !important; }
/*-----------------------*/
/*---- END OF HEADER ----*/
/*-----------------------*/
/*------- CONTENT -------*/
/*-----------------------*/
.content{margin: 80px 30px 30px 30px;}
#dropzone{
    margin: 30px 0;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.13);
    box-shadow: 0 0 50px rgba(0,0,0,0.13);
    padding: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.dropzone{padding: 0 !important;}
.dropzone .dz-default.dz-message {
    background-image: url("../images/spritemap.png");
    position: relative;
    width: 428px;
    height: 123px;
    top: 110px;
}
.dz-preview{top: -124px;}
span.required {margin-left: 3px; color: #ff9000;}
.edit{text-align: center; padding-bottom: 12px;}
fieldset {max-width: 1200px; margin: auto !important; text-align: center;}
fieldset input[type=text], fieldset textarea{display: inline-block !important; width: 80%;}
fieldset label {width: 110px; text-align: left;}
fieldset textarea{resize: none; width: 80% !important;}
#Files_category label{margin-right: 20px; position: relative; top: -1px;}
.comment-label{vertical-align: top;}
.select2-container.select2-container-multi{
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    height: auto;
    width: 80% !important;
}
.select2-choices{
    padding-right: 5px !important;
    border-radius: 4px;
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    background-image: none !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select2-container-active .select2-choices, .select2-drop{border-color: #ff9000 !important; box-shadow: 0 0 7px #ff9000 !important; }
.select2-no-results{background-color: #fff !important;}
.select2-search-choice{top: 2px;}
.select2-search-choice-close{top: 3px !important;}
.select2-results .select2-highlighted {background: #ff9000 !important;}
.pure-controls.save{text-align: center; display: inline-block !important;}
span#Files_category{display: inline-block; width: 80% !important; text-align: left;}
/*-----------------------*/
/*---- END OF CONTENT ---*/
/*-----------------------*/
/*-------- FOOTER -------*/
/*-----------------------*/
/* !!! THIS WAS MADE BY DMYTRO DZUBENKO !!! */
footer{width: 100%; margin-bottom: 20px; position: static; bottom: 0; left: 0;}
/* !!! THIS WAS MADE BY DMYTRO DZUBENKO !!! */
footer a{display: inline-block; margin: 0 20px;}
footer h3{font-size: 17px; margin: 0;}
footer a[href="http://usic.at/"]{float: right; margin-top: 1px;}
/*---- END OF FOOTER----*/
@media (min-width: 1200px) {.navbar-form .form-control {width: 280px !important;}.navbar-nav {margin: auto;}}
@media (min-width: 992px){.navbar-form{display: block !important;}}
@media (min-width: 767px) and (max-width: 991px) {
    .search{display: block !important;}
    .navbar-form{display: block; position: relative;}
    .form-wrapper{
        width: 100%;
        position: absolute;
        top: 71px;
        left: 15px;
        border-color: #101010;
        background-color: #222;
        margin-right: -15px;
        max-height: 340px;
        margin-left: -15px;
        overflow-y: auto;
        display: block;
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        margin-top: -20px;
    }
    .slideup, .slidedown {
        max-height: 0;            
        overflow-y: hidden;
        -webkit-transition: max-height 0.3s ease-in-out;
        -moz-transition: max-height 0.3s ease-in-out;
        -o-transition: max-height 0.3s ease-in-out;
        transition: max-height 0.3s ease-in-out;
    }
    .slidedown {            
        max-height: 60px ;                    
    }    
    .form-wrapper .navbar-form{width: 720px; float: none !important; margin: 13px auto 13px auto !important; padding: 0 13px 0 0;}
    .form-wrapper .form-control{width: 100% !important;}
    .form-wrapper input[type=submit]{float: right; top: -27px; left: -8px;}
}
@media (max-width: 767px) {
    .navbar-form {display: block !important;}
    .navbar-form input[type=submit]{float: right; top: -27px; right: 10px;}
    .form-control{padding-right: 30px !important;}
    footer a{margin: 0 5px;}
    .dropzone .dz-default.dz-message {
        width: 268px;
        height: 174px;
        background-position: 0 -123px !important;
        top: 85px;
    }
}